main {
    margin-top: 50px;
    font-weight: 700;
}

.nav-link  {
    
    font-weight: 700;
}

.nome {
    Width: 60%;
      
}

.sobrenome {
    Width: 60%;
}

.email {
    Width: 60%;
    
}

.telefone {
    Width: 60%;
}

.cpf {
    Width: 60%;
}

.endereco {
    Width: 60%;
}

.marca {
    Width: 60%;
}

.quantidade {
    Width: 60%;
}

.preco {
    Width: 60%;
}

.btn-primary {
    font-weight: 700;
    background-color:#00FA9A;
    color: rgb(15, 15, 15);
    margin-left:  25px;
    border: none;
}

.servico {
    Width: 60%;
}
 